[submodule "frontend"]
	path = frontend
	url = https://github.com/isharax9/COC-SaaS-Frontend.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/isharax9/COC-SaaS-Backend.git
	branch = main